---
import '../styles/blog.css';
import Layout from "../layouts/Layout.astro";
import HeroSection2 from "../components/HeroSection2.astro";
import blog_1 from "../img/blog/blog-1.jpg";
import blog_2 from "../img/blog/blog-2.jpg";
import blog_3 from "../img/blog/blog-3.jpg";
import blog_4 from "../img/blog/blog-4.jpg";
import blog_5 from "../img/blog/blog-5.jpg";
import blog_6 from "../img/blog/blog-6.jpg";
import blog_7 from "../img/blog/blog-7.jpg";
import blog_8 from "../img/blog/blog-8.jpg";
import blog_9 from "../img/blog/blog-9.jpg";
---

<Layout pageTitle="Blog">

    <HeroSection2 pageTitle="Blog"/>

    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <img src={ blog_1 } alt="">
                        <div class="blog-widget">
                            <div class="bw-date">February 17, 2019</div>
                            <a href="#" class="tag">#Gym</a>
                        </div>
                        <h4><a href="./blog-details.html">10 States At Risk of Rural Hospital Closures</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <img src={ blog_2 } alt="">
                        <div class="blog-widget">
                            <div class="bw-date">February 17, 2019</div>
                            <a href="#" class="tag">#Sport</a>
                        </div>
                        <h4><a href="./blog-details.html">Diver who helped save Thai soccer team</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <img src={ blog_3 } alt="">
                        <div class="blog-widget">
                            <div class="bw-date">February 17, 2019</div>
                            <a href="#" class="tag">#Body</a>
                        </div>
                        <h4><a href="./blog-details.html">Man gets life in prison for stabbing</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <img src={ blog_4 } alt="">
                        <div class="blog-widget">
                            <div class="bw-date">February 17, 2019</div>
                            <a href="#" class="tag">#Running</a>
                        </div>
                        <h4><a href="./blog-details.html">Russia's first male synchronised swimmer</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <img src={ blog_5 } alt="">
                        <div class="blog-widget">
                            <div class="bw-date">February 17, 2019</div>
                            <a href="#" class="tag">#Gym</a>
                        </div>
                        <h4><a href="./blog-details.html">NYC measles vaccination order prevails in court</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <img src={ blog_6 } alt="">
                        <div class="blog-widget">
                            <div class="bw-date">February 17, 2019</div>
                            <a href="#" class="tag">#Sport</a>
                        </div>
                        <h4><a href="./blog-details.html">The Week in Pictures: April 11 - 18</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <img src={ blog_7 } alt="">
                        <div class="blog-widget">
                            <div class="bw-date">February 17, 2019</div>
                            <a href="#" class="tag">#Gym</a>
                        </div>
                        <h4><a href="./blog-details.html">Man who pretended to be faces new charges</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <img src={ blog_8 } alt="">
                        <div class="blog-widget">
                            <div class="bw-date">February 17, 2019</div>
                            <a href="#" class="tag">#Body</a>
                        </div>
                        <h4><a href="./blog-details.html">10 States At Risk of Rural Hospital Closures</a></h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <img src={ blog_9 } alt="">
                        <div class="blog-widget">
                            <div class="bw-date">February 17, 2019</div>
                            <a href="#" class="tag">#Gym</a>
                        </div>
                        <h4><a href="./blog-details.html">Lenny Kravitz gives Arch Digest a look inside</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

</Layout>

<style>

</style>