---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout pageTitle="SportFit | Home">
	<!-- <h1>Hello Sportfit</h1> -->
	<HeroSection />
</Layout>