---
import '../styles/global.css';
import Header from '../components/Header.astro';
// import bootstrap from '../styles/bootstrap.min.css';
import '../styles/bootstrap.min.css';
import '../styles/font-awesome.min.css';
import '../styles/owl.carousel.min.css';
import '../styles/magnific-popup.css';
import '../styles/slicknav.min.css';

export interface Props {
    pageTitle?: string;
}

const { pageTitle = 'SportFit' } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Gutim Template">
        <meta name="keywords" content="Gutim, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{pageTitle}</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
            rel="stylesheet">

        <!-- Css Styles -->
        <!-- <link rel="stylesheet" href="../styles/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../styles/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="../styles/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="../styles/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="../styles/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="../styles/style.css" type="text/css"> -->
    </head>

    <body>
        <!-- Page Preloder -->
        <!-- <div id="preloder">
            <div class="loader"></div>
        </div> -->
        <Header />
        <slot/>
    </body>
</html>